
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="font-italic text-center">Welcome To Home Page </h2>
<div >
    <p class="font-italic">
        Consumer electronics or home electronics are electronic (analog or digital) equipment<br>
        for everyday use, typically in private homes. Consumer electronics include devices used<br>
        for entertainment, communications and recreation. In British English, they are often <br>
        called brown goods by producers and sellers, to distinguish them from "white goods" <br>
        which are meant for housekeeping tasks, such as washing machines and refrigerators, <br>
        although nowadays, these would be considered brown goods, some of these being connected<br>
        to the Internet.[1][n 1] In the 2010s, this distinction is absent in large big box <br>
        consumer electronics stores, which sell both entertainment, communication, and home<br>
        office devices and kitchen appliances such as refrigerators. The highest selling consumer<br>
        electronics products are Compact discs.
    </p>
</div>

<a href="/products/index">Goto to Product Section</a>

